<%- include("../a-partials/a-header") -%>


<div class="row">
  <div class="col-lg-2  col-md-3 sidebar">
    <h2>Election Management System</h2>
    <div>
      <a href="/admin">
        <h5>Dashboard</h5>
      </a>
      <a href="/admin/users">
        <h5>Users</h5>
      </a>
      <a href="/admin/party">
        <h5 class="active">Party</h5>
      </a>
      <a href="/admin/wards">
        <h5>Wards</h5>
      </a>
      <a href="">
        <h5>Result</h5>
      </a>
      <a href="/login">
        <h5>Logout</h5>
      </a>
    </div>

  </div>
  <div class="col-lg-10 col-md-9 bar content">
    <div>
      <form name="addUser" action="/admin/add-party" method="POST" onsubmit="return validateForm()">
        <label for="">Ward Id :</label>
        <select name="ward" id="">
          <% wards.forEach(function(ward) { %>
            <option value="<%- ward.ward_id %>"><%- ward.ward_id %></option> 
          <% }) %> 
        </select><br>
        <label for="">Party id :</label>
        <input type="number" name="pid"><br>
        <label for="">Name :</label>
        <input type="text" name="fname"><br>
        <label for="">Last name :</label>
        <input type="text" name="lname"><br>
        <label>age</label>
        <input type="number" name="age"><br>
        <label for="">gender :</label>
        <select name="gender" id="">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="others">Others</option>
        </select><br>
        <label for="">Address :</label>
        <input type="text" name="address"><br>
        <label>Phone no :</label>
        <input type="number" name="phno"><br>
        <input type="submit" value="ADD USER">

      </form>
    </div>
    
    
    
  </div>
</div>


<script>
  function validateForm() {
    var id = document.forms["addUser"]["id"].value;
    var phone = document.forms["addUser"]["phno"].value.toString();
    var fname = document.forms["addUser"]["fname"].value;
    var lname = document.forms["addUser"]["lname"].value;
    var age = document.forms["addUser"]["age"].value;
    if(!id) {
      alert ("Enter your id.....");
      return false;
    }
    else if(isNullOrBlank(fname) || isNullOrBlank(lname)) {
      alert ("Please enter your name");
      return false;
    }
    else if( age < 18) {
      alert ("Your age is less than 18, You are eligible to vote");
      return false;
    }
    else if( phone.length !== 10) {
      alert("please enter your correct phone number");
      return false;
    } else {
      return true;
    }
  }
  function isNullOrBlank(str) {
    return (!str || str.length === 0 || !str.trim())
  }
</script>


<%- include("../a-partials/a-footer") -%>