html {
    overflow-y: scroll; 
  }
  
h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}
.sidebar {
    background-color: #007fff;

    padding-right: 0;
}

/* .sidebar-list {
    padding-left: 1.5em;
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

a {
  color: white;
  margin-top: 20px;
}

a:hover {
    text-decoration: none;
    color: white;
}

h5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
}
h5:hover, .active {
    background-color: #09519e65;
   
}


.bar {
    background-color: rgb(255, 255, 255);
    height: 120vh;
    
}