<%- include("../partials/header") -%>

<% parties.forEach(function(party) { %>
    <div id="selectedParty">
      <input type="radio" name="pname" value="<%- party.p_id %>">
      <label > <%- party.pname %></label>
    </div><br>
    
<% }) %>

<script>
    document.get
</script>

<%- include("../partials/footer") -%>